# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#VS Files
*.vcxproj.user
*.sdf
*.suo
*.opensdf

CLRCSharpSamplePlugin/SharpDX

#User files
CLRHostInterop/x64/Debug
CLRHostInterop/x64/Release
CLRHostInterop/win32/Debug
CLRHostInterop/win32/Release

CLRSamplePlugin/x64/Debug
CLRSamplePlugin/x64/Release
CLRSamplePlugin/win32/Debug
CLRSamplePlugin/win32/Release

CLRCSharpSamplePlugin/bin
CLRCSharpSamplePlugin/obj

CLRHostPlugin/x64/Debug
CLRHostPlugin/x64/Release
CLRHostPlugin/win32/Debug
CLRHostPlugin/win32/Release

Releasex86
Releasex64

ipch

*.7z


